<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Nombre(s):</span>
  </div>
  <input type="text" class="form-control" placeholder="Carlos" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Apellido:</span>
  </div>
  <input type="text" class="form-control" placeholder="Arias" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Puesto:</span>
  </div>
  <input type="text" class="form-control" placeholder="Ejecutivo" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Correo:</span>
  </div>
  <input type="text" class="form-control" placeholder="carlos@correo.com" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Usuario:</span>
  </div>
  <input type="text" class="form-control" placeholder="ejecutivo4" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Contraseña:</span>
  </div>
  <input type="text" class="form-control" placeholder="p4ssw0rD" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Cuenta:</span>
  </div>
  <input class="form-control" type="checkbox" ng-model="checkboxModel.value2" ng-true-value="'YES'" ng-false-value="'NO'">
</div>

