<div>
  INFORMACION DEL CLIENTE
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Proyecto:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Ajencia Aduanal:</span>
        </div>
        <input type="text" class="form-control">
        <button class="btn btn-primary"></button>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Contacto AA:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Se cobra a:</span>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="cliente">
          <label class="form-check-label" for="cliente">Cliente</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="agencia">
          <label class="form-check-label" for="agencia">Agencia Aduanal</label>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Solicitud de Cotización:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Cliente</span>
        </div>
        <select class="form-control" id="cliente">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <button class="btn btn-primary"></button>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Contácto Cliente:</span>
        </div>
        <select class="form-control" id="contacto-cliente">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Contácto Facturación:</span>
        </div>
        <select class="form-control" id="contacto-fact">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
</div>


<div>
  INFORMACION DE LA MERCANCIA
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Mercancia:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Presentación:</span>
        </div>
        <input type="text" class="form-control">
        <button class="btn btn-primary"></button>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Cantidad:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Valor de la Mercancia:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Peligrocidad:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">IMO:</span>
        </div>
        <input type="text" class="form-control">
      </div>


    </div>

    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Punto de Recolección:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Peso:</span>
        </div>
        <select class="form-control" id="cliente">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <button class="btn btn-primary"></button>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Transporte Llegada:</span>
        </div>
        <select class="form-control" id="contacto-cliente">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Transporte Salida:</span>
        </div>
        <select class="form-control" id="contacto-fact">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Volumen del Embarque:</span>
        </div>
        <input type="text" class="form-control">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Contenedor:</span>
        </div>
        <select class="form-control" id="contacto-fact">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div>
  INFORMACION DE LA OPERACION
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" routerLink="servicios" routerLinkActive="active">Servicios</a>
    <a class="nav-item nav-link" routerLink="deposito" routerLinkActive="active">Deposito Fiscal</a>
    <a class="nav-item nav-link" routerLink="servicios-adicionales" routerLinkActive="active">Servicios Adicionales</a>
    <a class="nav-item nav-link" routerLink="clausulas" routerLinkActive="active">Cláusulas</a>
  </nav>
</div>

<router-outlet></router-outlet>
